<%-include('../cabecalho.ejs');%>   
<p>Buscar por:
    <select name="tipo">
        <option value="nome">Nome</option>
        <option value="email">Email</option>
    </select><br>    
</p>
<form method="post">
    <input type="text" class="pesquisa" name="pesquisa">
    <input type="submit" class="btn_pesquisa" value="Pesquisar">
</form>

<table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Area</th>
            <th>Endereço</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <% Desenvolvedores.forEach(function(desenvolvedor){  %>
        <tr>
            <td><%=desenvolvedor._id%></td>
            <td><%=desenvolvedor.nome%></td>
            <td><%=desenvolvedor.email%></td>
            <td><%=desenvolvedor.area%></td>
            <td><%=desenvolvedor.endereco%></td>

            <td>
                <img class="foto-user" src="/fotos/<%=desenvolvedor.foto%>">                
            </td>
            <td>
                <a href="/desenvolvedor/edt/<%=desenvolvedor._id%>">
                    <img src="/images/edit.png">
                </a>
            </td>
            <td>
                <a href="/desenvolvedor/del/<%=desenvolvedor._id%>">
                    <img src="/images/lixeira.png">
                </a>
            </td>
        </tr>
        <% }) %>
    </table>

<%-include('../rodape.ejs');%>