<%-include('../cabecalho.ejs');%>
   <form class="edt" method="post" enctype="multipart/form-data">
    Id: <input type="text" name="id" readonly value="<%=Projeto._id%>"><br>   
    Nome: <input type="text" name="nome" 
        placeholder="Digite seu nome" value="<%=Projeto.nome%>"><br>
    Descrição: <input type="text" name="descricao" 
        placeholder="Digite a descrição do projeto" value="<%=Projeto.descricao%>"><br>
    Data de inicio do projeto: <input type="date" 
        name="dataInicio" value="<%=Projeto.dataInicio%>"><br>
    Previsão de termino do projeto: <input type="date" 
        name="previsaoTermino" value="<%=Projeto.previsaoTermino%>"><br>
    Foto: <input type="file" name="foto"><br>
       <input type="submit" value="Enviar">
    Desenvolvedor:
       <select require name="desenvolvedor">
           <option value=""> Escolha o desenvolvedor do projeto</option>
       </select>
       <br>
   </form> 
<%-include('../rodape.ejs');%>